{% extends "app_club/index.html" %}
{% load static %}
{% block app_club_content %}


<h2>Lista de Entrenadores</h2>
<a class="card_custom" href="{% url 'app_club:Entrenador_form' %}">Crear un nuevo Entrenador</a>
<hr></hr>
<ul>
    {% for entrenadores in entrenador %}
        <li>
            {{entrenadores}}
            (
            <a href="{% url 'app_club:UpdateEntrenador' entrenadores.id %}">
                <i class="fa fa-pencil" style="color: red"></i>
            </a>

            <a href="{% url 'app_club:DeleteEntrenador' entrenadores.id %}">
                <i class="fa fa-trash" style="color: rgb(160, 0, 0)"></i>
            </a>
            )
        </li>
    {% endfor %}
</ul>




{% endblock %}